body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;

    video {
        position: absolute;
        top: 0;
        left: 0;
        /* width: 100%; */
        z-index: -1;
        /* object-fit: cover; */
        width: 100vw;

    }
}

.video-div {
    background: linear-gradient(to top, rgb(0, 0, 0, 0.65), transparent);
}

.heading {
    display: flex;
    color: white;
    justify-content: space-between;
    /* z-index: 1; */
    /* border: 1px solid white; */
    align-items: center;
    height: 74px;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    margin-bottom: 38vw;

    div>img:first-child {
        height: 35px;
        /* border: 1px solid wheat; */
    }

    .center-heading {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 35vw;

        p {
            display: flex;
            align-items: center;
        }

    }
    .plantrip {
        color: white;
        text-decoration: none;
    }
    .plantrip:hover{
        color: red;
        svg path{
            fill: red;
            stroke: red;
        }
    }

    .end-heading {
        display: flex;
        align-items: center;
        gap: 2vw;

        >div:first-child {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        >div:nth-child(2) {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        div>img {
            height: 25px;
        }
    }

}

.second-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    padding-left: 3.5vw;
    padding-right: 3.5vw;
    padding-bottom: 3.5vw;

    div:first-child {
        display: flex;
        align-items: center;
        gap: 2.5vw;
    }

    div>button {
        background-color: transparent;
        border: none;
    }
}

.destination {
    background-image:
        linear-gradient(to bottom,
            rgb(0, 0, 0, 0.85) 0%,
            rgb(0, 0, 0, 0.5)50%,
            rgb(0, 0, 0, 0.3)80%,
            rgb(0, 0, 0, 0.2)100%,
            transparent),
        url("https://s7ap1.scene7.com/is/image/incredibleindia/red-fort-delhi1-attr-hero?qlt=82&ts=1742170492880");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: center; */
    /* border: 1px solid orangered; */
    color: white;
    text-align: center;

    h1:first-child {
        font-size: 65px;
        margin: 0;
        padding-top: 2vw;
    }

    p {
        font-size: larger;
    }

    .delhi {
        display: flex;
        align-items: center;
        gap: 1.5vw;
        /* border: 2px solid black; */
        justify-content: center;
        margin-top: 20vw;
    }

    .discover {
        padding-bottom: 3.5vw;
    }

    .discover>p {
        background-color: red;
        width: fit-content;
        margin: auto;
        border-radius: 2vw;
        padding: 1vw;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
    }
}

.attractions-div {
    z-index: 1;
    position: relative;
    /* padding-bottom: 3.5vw; */

    >img {
        width: 100vw;
        height: 60vw;
        object-fit: cover;
        object-position: top;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
    }

    .attractions {
        text-align: center;

        >h1 {
            font-size: 5vw;
            text-transform: uppercase;
            text-align: center;
            margin: 0;
            padding-top: 2vw;
            color: #66B2E2;
            font-weight: 800;

        }

        p {
            font-size: 1.5vw;
            margin: 0;
            color: #66B2E2;
        }

        .attractions-pic {
            display: flex;
            /* border: 1px solid black; */
            justify-content: center;
            gap: 1vw;
            margin-top: 5vw;

            div>img {
                width: 21vw;
                border-radius: 1.5vw;
                ;
            }
        }

        .attraction-arrow {
            margin-top: 2vw;
        }

        .discover {
            margin: 1.2vw;
        }


        .discover>p {
            background-color: red;
            color: white;
            width: fit-content;
            margin: auto;
            border-radius: 2vw;
            padding: 1vw;
            padding-left: 2.5vw;
            padding-right: 2.5vw;
        }
    }
}

.travel-diaries {
    z-index: 1;
    position: relative;
    text-align: center;
    color: white;

    >img {
        width: 100vw;
        object-fit: cover;
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        height: 70vw;
    }

    .travel-diaries-div {
        padding-top: 2.5vw;
        z-index: 2;
        text-transform: uppercase;
    }

    h1 {
        margin: 2vw;
        /* padding-top: 2.5vw; */
        margin-bottom: 0;
        font-size: 80px;
    }

    p {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 2.8vw;
    }

    select {
        /* font-size: xx-large; */
        font-size: medium;
        font-weight: 600;
        padding: 1vw;
        width: 15vw;
        margin-bottom: 3.5vw;
    }
}

.travel-diaries-photo {
    display: flex;
    justify-content: space-around;
    margin-top: 4vw;

    >div {
        width: 21vw;
        background-color: black;
        border-radius: 0.5vw;
        padding-bottom: 4vw;

        img {
            border-top-left-radius: 0.5vw;
            border-top-right-radius: 0.5vw;
            width: 100%;
        }

        h2 {
          font-size: 1.5vw;
            padding: 1vw;
            text-align: left;
            margin: 0;
        }

        .red {
            color: red;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}

.travel-diaries>.travel-arrow {
    /* border: 1px solid black; */
    margin-top: 3.5vw;
}

.travel-diaries>.discover {
    margin-top: 3.5vw;

    p {
        background-color: red;
        color: white;
        width: fit-content;
        margin: auto;
        border-radius: 2vw;
        padding: 1vw;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        cursor: pointer;
        margin-bottom: 3.5vw;
    }
}

.itineraries {
    z-index: 1;
    position: relative;
    width: 100vw;

    .itineraries-img {
        z-index: -2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

    }
}

.itineraries {
    .itineraries-main {
        color: #66B2E2;
        text-align: center;

        h1 {
            font-size: 6vw;
            text-transform: uppercase;
            font-weight: 800;
            margin-bottom: 0;
            padding-top: 2.8vw;
        }

        p {
            margin-top: 0;
            font-stretch: 90%;
            font-size: 2vw;
        }
    }

    .itineraries-form {
        text-align: center;

        select {
            font-size: medium;
            font-weight: 600;
            padding: 1vw;
            width: 15vw;
            margin-bottom: 3.5vw;
            border-radius: 0.5vw;
            border: 1px solid gray;
        }
    }

    .itineraries-arrow {
        text-align: center;

        p {
            background-color: red;
            color: white;
            width: fit-content;
            margin: auto;
            border-radius: 2vw;
            padding: 1vw;
            padding-left: 2.5vw;
            padding-right: 2.5vw;
            cursor: pointer;
            margin-top: 2.5vw;
        }
    }
}

.lesserknown {
    text-align: center;

    p {
        color: rgb(183, 180, 180);
        ;
        font-size: x-large;
        margin-top: 8vw;
        margin-bottom: 0;
    }

    h1 {
        margin-top: 0;
        color: rgb(183, 180, 180);
        font-size: 5.5vw;
        text-transform: uppercase;
    }
}

.itineraries-img-2 {
    z-index: -2;
    position: absolute;
    height: 55vw;
    /* overflow: hidden; */

}

.img-wrap {
    display: flex;
    align-items: center;
    margin-top: 22vw;
    position: relative;
}

.scroll-img {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: absolute;
    z-index: 1;

    /* border: 10px solid black; */
    img {
        width: 35%;
        filter: brightness(70%);
    }
}

.scroll-img-center {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

.scroll-img-center img {
    width: 60vw;
    border-radius: 2vw;
    display: block;
    filter: brightness(70%);
}

.last-arrow {
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* top: 50%; */
    /* border: 10px solid greenyellow; */
    top: 20vw;

    text-align: center;

    p {
        background-color: red;
        color: white;
        width: fit-content;
        margin: auto;
        border-radius: 2vw;
        padding: 1vw;
        padding-left: 2.5vw;
        padding-right: 2.5vw;
        cursor: pointer;
        margin-top: 2.5vw;
    }

}








   /* EXQUISITE SECTION */
   
.Exquisite {
    margin-top: 30vw;
  background-color: #E6313B;
  color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.p-1 {
  font-size: 8vw;
  font-weight: bolder;
  margin-bottom: 0;
  
}

.p-2 {
  font-size: 1.5vw;
  margin-top: 0.5em;
}
.p-2{
    margin-bottom: 150px;
}

 
   /* MAIN  */

.Main-div {
  position: relative;
  width: 100%;
}


.crafts-container {
  display: flex;
  justify-content: center;
  gap: 45px;
  width: 100%;
  margin: -150px auto 50px auto; 
  padding: 30px;
  border-radius: 10px;
 
}

.card-1 {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  /* background-color: #f5f5f5; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.card-1:hover {
  transform: translateY(-8px);
}

.card-1 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  display: block;
}

.card-content {
  padding: 18px;
  text-align: left;
}

.card-content h5 {
  color: #e53935;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.card-content p {
  color: #000;
  font-size: 22px;
  font-weight: 800;
  line-height: 1.3;
}

.Arrow-img img {
    height: 5em;
    width: 10em;
    margin-left: 41em;

}

.discover-btn-1{
  background-color: #e53935;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 14px 40px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  margin-left: 35em;
  
    
}
.discover-btn-1:hover{
    background-color: #c62828;
}


   /* CELEBRATION SECTION */
   
.celebration-section {
  text-align: center;
  background-color: #fff;
  padding: 12px 20px 80px;
}

.tagline {
  color: #e53935;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.tagline::before,
.tagline::after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 2px;
  background-color: #e53935;
  vertical-align: middle;
  margin: 0 10px;
}

.celebration-title {
  font-size: 90px;
  font-weight: 900;
  color: #e53935;
  margin: 10px 0 40px;
}

.filter-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}





.tab-dropdown {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
  padding: 12px 25px;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.tab-dropdown:hover {
  border-color: #e53935;
}

.discover-btn {
  background-color: #e53935;
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 14px 40px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  
}

.discover-btn:hover {
  background-color: #c62828;
}




/* media quiery */

@media (max-width: 900px) {
  .crafts-container {
    width: 90%;
    margin-top: -100px;
  }

  .card-1 {
    width: 45%;
  }

  .celebration-title {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  .card-1 {
    width: 90%;
  }

  .p-1 {
    font-size: 12vw;
  }

  .celebration-title {
    font-size: 45px;
  }
}



/* INSPIRED */



.get-started-section {
  background: url("https://www.incredibleindia.gov.in/content/dam/incredible-india/images/global/background-images/flight-home-page-bg.jpg") center center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  position: relative;
}

.get-started-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4); /* dark overlay for contrast */
}

.content {
  position: relative;
  z-index: 2;
  text-align: center;
  width: 90%;
  max-width: 1200px;
}

.content h3 {
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 10px;
}

.content h1 {
  font-size: 90px;
  font-weight: 900;
  margin-bottom: 40px;
}

.transport-tabs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.tab {
  background: rgb(156, 155, 155);
  color: #fff;
  border: 2px solid #fff;
  padding: 14px 30px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tab i {
  margin-right: 10px;
}

.tab.active {
  background-color: #e53935;
  border-color: #e53935;
}

.tab:hover {
  background-color: #e53935;
  border-color: #e53935;
}

.trip-type {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;
}

.trip-type span {
  cursor: pointer;
}

.trip-type .active {
  color: #fdd835;
  text-decoration: underline;
}

/* Booking input box */
.booking-box {
  display: flex;
  
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.booking-box input,
.booking-box select {
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  width: 220px;
  outline: none;
}

/* Fare types */
.fare-types {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  color: #000;
  font-weight: 500;
}

.fare-types label input {
  margin-right: 8px;
}




/* Responsive Design */
@media (max-width: 768px) {
  .content h1 {
    font-size: 60px;
  }

  .booking-box input,
  .booking-box select {
    width: 100%;
  }

  .fare-types {
    flex-direction: column;
    align-items: flex-start;
  }
}

  .vertical-line {
      width: 0.1em;        
      height: 2em;         
      background-color: black; 
      display: flex;
      align-self: center;
      /* justify-self: center; */
    }



    /* Footer */


   .footer {
  background-image: url("https://www.incredibleindia.gov.in/content/dam/incredible-india/images/global/footer-background-image-mobile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 60px 80px;
  position: relative;
   font-family: "Poppins", sans-serif;
  color: #fff;
}

.footer::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  z-index: 0;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

.footer-section {
  flex: 1;
  min-width: 220px;
  margin: 20px;
}

.footer-section h2 {
  font-size: 1.8rem;
  margin-bottom: 15px;
  font-weight: 700;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 8px;
  font-size: 1.1rem;
  cursor: pointer;
}

.social-icons i {
  font-size: 22px;
  margin-right: 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.social-icons i:hover {
  color: #ff3b3b;
}

.newsletter p {
  max-width: 320px;
  line-height: 1.6;
}

.newsletter button {
  background: #ff2c2c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 600;
}

.newsletter button:hover {
  background: #e11b1b;
}

.scan img {
  width: 120px;
  background: white;
  border-radius: 10px;
  padding: 5px;
}

.footer-bottom {
  text-align: center;
  position: relative;
  z-index: 1;
  margin-top: 40px;
  border-top: 1px solid rgba(255,255,255,0.3);
  padding-top: 20px;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
  margin: 0 8px;
}

.footer-bottom a:hover {
  color: #ff3b3b;
}




/* Responsive */
@media (max-width: 768px) {
  .video-div .center-heading{
    display: none;
  }
  .footer {
    padding: 40px 20px;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-section {
    margin: 15px 0;
  }
  .scan img {
    width:100px;
  }
}