body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  background-color: #fff;
  color: #000;
  box-sizing: border-box;
}

.heading {
    display: flex;
    color: white;
    background-color: black;
    justify-content: space-between;
    /* z-index: 1; */
    /* border: 1px solid white; */
    height: 70px;
    align-items: center;
    padding-left: 3.5vw;
    padding-right: 3.5vw;

    div >img:first-child {
        height: 35px;
        /* border: 1px solid wheat; */
    }

    .center-heading {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 35vw;

        p {
            display: flex;
            align-items: center;
        }
    }

    .plantrip {
        color: red;
        text-decoration: none;
        svg path{
            fill: red;
            stroke: red;
        }
    }

    .end-heading {
        display: flex;
        align-items: center;
        gap: 2vw;

        >div:first-child {
            display: flex;
            align-items: center;
            gap: 10px;
        }

        >div:nth-child(2) {
            display: flex;
            align-items: center;
            gap: 15px;
        }

        div>img {
            height: 25px;
        }
    }

}


.plan-trip {
  text-align: center;
  padding: 50px 10%;
}

.plan-trip h1 {
  color: #ff0000;
  font-size: 2rem;
  font-weight: 700;
}

.plan-trip hr {
  margin: 20px auto 40px;
  width: 80%;
  border: none;
  border-top: 1px solid #ddd;
}

.trip-content {
  display: flex;
  justify-content: space-around;
  text-align: left;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}

.trip-column {
  flex: 1;
  min-width: 250px;
}

.trip-column h3 {
  color: #45a9ff;
  font-weight: 700;
  margin-bottom: 15px;
}

.trip-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.trip-column ul li {
  margin-bottom: 10px;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

.trip-column ul li:hover {
  color: #ff0000;
}

.trip-social {
  text-align: center;
  font-size: 1.5rem;
}

.trip-social i {
  margin: 0 10px;
  color: #ff0000;
  cursor: pointer;
  transition: transform 0.3s;
}

.trip-social i:hover {
  transform: scale(1.1);
}

/* Responsive */
@media (max-width: 768px) {
  .trip-content {
    flex-direction: column;
    text-align: center;
  }

  .trip-column {
    margin-bottom: 30px;
  }
}